@model IEnumerable<HTPIFoundation.Models.Paiement>
@{
    ViewData["Title"] = "Index";
}


<div class="page-container">
    <h1 class="with-btn">Liste
        <small>des paiements</small>
        <a asp-action="Create" class="btn">Create New</a>
    </h1>

<div class="table-responsive">
<table class="table table-condensed">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MontantPayer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DatePayement)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MoyenPayement)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IDTransaction)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AvanceAccord)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MontantAvance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MembreAvanceID)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontantPayer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePayement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoyenPayement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDTransaction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvanceAccord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontantAvance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MembreAvanceID)
            </td>
            <td class="actions">
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
