@model HTPIFoundation.Models.DonHtpi

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DonHtpi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MembreID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MembreID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MontantTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MontantTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Detail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Detail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MontantAvance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MontantAvance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FraisTransfert)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FraisTransfert)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DatePayement)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatePayement)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MoyenPayement)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MoyenPayement)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumRecue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumRecue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IDTransaction)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IDTransaction)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
